#avc: denied { write } for name="property_service" dev="tmpfs" ino=5544 scontext=u:r:cameraserver:s0 tcontext=u:object_r:property_socket:s0 tclass=sock_file permissive=1
#avc: denied { write } for name="property_service" dev="tmpfs" ino=5544 scontext=u:r:cameraserver:s0 tcontext=u:object_r:property_socket:s0 tclass=sock_file permissive=1
allow cameraserver property_socket:sock_file { write };

#avc: denied { connectto } for path="/dev/socket/property_service" scontext=u:r:cameraserver:s0 tcontext=u:r:init:s0 tclass=unix_stream_socket permissive=1
#avc: denied { connectto } for path="/dev/socket/property_service" scontext=u:r:cameraserver:s0 tcontext=u:r:init:s0 tclass=unix_stream_socket permissive=1
allow cameraserver init:unix_stream_socket { connectto };

#avc: denied { read } for name="rear_camtype" dev="sysfs" ino=14247 scontext=u:r:cameraserver:s0 tcontext=u:object_r:sysfs:s0 tclass=file permissive=1
#avc: denied { open } for name="rear_camtype" dev="sysfs" ino=14247 scontext=u:r:cameraserver:s0 tcontext=u:object_r:sysfs:s0 tclass=file permissive=1
#avc: denied { getattr } for path="/sys/devices/virtual/camera/rear/rear_camtype" dev="sysfs" ino=14247 scontext=u:r:cameraserver:s0 tcontext=u:object_r:sysfs:s0 tclass=file permissive=1
allow cameraserver sysfs:file { read open getattr };

#avc: denied { getattr } for pid=2542 comm="cameraserver" path="/vendor" dev="rootfs" ino=2767 scontext=u:r:cameraserver:s0 tcontext=u:object_r:rootfs:s0 tclass=lnk_file permissive=1
allow cameraserver rootfs:lnk_file { getattr };

#avc: denied { getattr } for pid=3350 comm="Binder:2542_1" path="/data/misc/media" dev="mmcblk0p21" ino=260117 scontext=u:r:cameraserver:s0 tcontext=u:object_r:media_data_file:s0 tclass=dir permissive=1
# allow access to media data files
allow cameraserver media_data_file:dir create_dir_perms;
allow cameraserver media_data_file:file create_file_perms;

#avc:  denied  { set } for property=persist.sys.camera.preview pid=2542 uid=1047 gid=1005 scontext=u:r:cameraserver:s0 tcontext=u:object_r:system_prop:s0 tclass=property_service permissive=1
set_prop(cameraserver, system_prop)
